/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   }
   body {
    background-color: #30363c;
    align-items: center;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   h2 {
    font-size: 30px;
    color: white;
   }

/* SUBTITLE */
#sname {
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgba(0,0,0,0.9);
}

#sname h1 {
    font-weight: bold;
    font-size: 3.5em;
    transition: all 500ms;
}
    
#sname h1:hover {
    font-size: 88px;
    font-size-adjust: 1px;
    color: yellow;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }

   .nav-links a:hover {
    color: yellow;
   }

   /* LOGO */
   .logo {
    font-size: 32px;
    color: white;
    margin-left: 1%;
   }

   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 22px;
   }
   .menu li:hover {
    background-color: black;
    color: yellow;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }

/* CONTENT PAGE STYLE */
.title-box {
     text-align: center;
     padding: 0px;
     margin: auto;
     color: white;
     width: 65%;
     margin-top: 12%;
     font-size: 36px;
    }

.subtitle-box {
    text-align: center;
    padding: 30px;
    margin: auto;
    color: white;
    width: 60%;
    font-size: 18px;
    }

  .subtitle-box a {
    color: rgba(0,0,0,0.9);
  }

  .subtitle-box a:hover {
    color: yellow;
  }

  .subtitle-text-box {
    text-align: center;
    padding: 25px;
    margin: auto;
    color: white;
    width: 60%;
    font-size: 18px;
    }

.socials-box {
    text-align: center;
    position: absolute; 
    width: 30%;
    left: 35%;
    bottom: 1%;
    align-items: center;
    }

.socials-box a {
    color: white;
    font-size: 24px;
    text-align: center;
    }

.socials-box a:hover {
    color: yellow;
    }

.title-box-about-me {
    text-align: center;
    padding: 0px;
    margin: auto;
    color: white;
    width: 65%;
    margin-top: 5%;
    font-size: 36px;
    }

.text-box-about-me {
    text-align: center;
    padding: 0px;
    margin: auto;
    color: white;
    width: 60%;
    font-size: 18px;
    }

.main-text-area {
  width: 50%;
  margin-top: 2%;
  margin-left: 25%;
  padding: 10px;
  font-size: 22px;
  color: white;
}

.text-box-left {
  position: absolute;
  width: 30%;
  padding: 10px;
  margin-top: 20px;
}

.pic-box-right {
  position: absolute;
  width: 25%;
  margin-left: 30%;
  margin-top: 20px;
  padding: 10px; 
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 260px;
}

/* TIMELINE CSS*/
ul {
    list-style: none;
    margin: 0 !important;
  }
  
  img {
    max-width: 100%;
  }
  
  button:focus {
    outline: none;
  }
  
  .container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .timelines h2 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 32px;
  }
  .d-flex-2 {
    display: flex;
    align-items: center;
  }
  .timeline-area {
    padding: 50px 0;
  }
  .all-timelines {
    position: relative;
  }
  .all-timelines::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 2px;
    background: yellow;
    top: 20px;
  }
  .single-timeline {
    margin-bottom: 22px;
  }
  .timeline-blank {
    width: 50%;
  }
  .timeline-text {
    width: 50%;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }
  .timeline-text h6 {
    color: #f0f1f2;
    font-weight: 900;
    display: inline-block;
    font-size: 1rem;
  }
  .timeline-text span {
    color: #f0f1f2;
    display: block;
    width: 100%;
  }
  .single-timeline:nth-child(even) .timeline-text span {
    text-align: right;
  }
  .t-square {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -6px;
    background: yellow;
  }
  .single-timeline:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .single-timeline:nth-child(even) .t-square {
    right: -6px;
    left: unset;
  }
  .single-timeline:nth-child(even) .timeline-text {
    padding-left: 0;
    padding-right: 30px;
    text-align: right;
  }

  /* WORD CLOUD CSS */
  ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    padding-top: 10px;
  }

  ul.cloud a {
    color: yellow;
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
    --size: attr(data-weight number, 2); 
    font-size: calc(var(--size) * 1rem);
  }

  ul.cloud a[data-weight="1"] { --size: 1; }
  ul.cloud a[data-weight="2"] { --size: 2; }
  ul.cloud a[data-weight="3"] { --size: 3; }
  ul.cloud a[data-weight="4"] { --size: 4; }
  ul.cloud a[data-weight="5"] { --size: 5; }
  ul.cloud a[data-weight="6"] { --size: 6; }
  ul.cloud a[data-weight="7"] { --size: 7; }
  ul.cloud a[data-weight="8"] { --size: 8; }
  ul.cloud a[data-weight="9"] { --size: 9; }

  ul.cloud a {
    --size: 4;
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
  }
  


  /* RESPONSIVENESS CSS */
  @media all and (max-width: 991px) {
  }
  @media all and (max-width: 768px) {
    .all-timelines::before {
      right: unset;
      top: 0;
    }
    .single-timeline:nth-child(2n) .timeline-text {
      padding-left: 30px;
      padding-right: 0;
      text-align: left;
    }
    .single-timeline:nth-child(2n) .t-square {
      left: -6px;
      right: unset;
    }
    .timeline-blank {
      display: none;
    }
    .timeline-text {
      width: 100%;
    }
    .single-timeline:nth-child(even) .timeline-text span {
      text-align: left !important;
    }
  }
  @media all and (max-width: 575px) {
  }
  @media all and (max-width: 360px) {
    .all-timelines::before {
      top: 32px;
    }
  }